body {

font-family:Arial, sans-serif;
font-size: larger;
color: #01000e;

background-color: rgb(249, 249, 248);
background-image: url('');
background-size: cover;
            background-position: center;
        
            background-attachment: fixed;
}
header{
    background-color: #7bc2ee;
    color: rgb(10, 9, 15);
    padding: 20px;
    text-align: center;
    text-underline-position: below;
}
header h1{
    margin: 3%;
    text-underline-position: below;
    color: black;
    
}
header h2{
    margin: 5%;
}
 
nav a {

color: rgb(5, 44, 237);

text-decoration: none;

margin: 0 10px;
}
nav a:hover {

text-decoration: underline;

}main {

padding: 20px;

max-width: 800px;

margin: 0 auto;

}


main img {

max-width: 100%;

height: auto;

display: block;

margin: 20px 0;
}
footer {

background-color: #eff3f5;

color: white;

text-align: center;

padding: 10px;

position: fixed;

bottom: 0;

width: 100%;

}p {

font-size: 1.1em;

}


a {

color: #fb08ba;

text-decoration: none;

}


a:hover {

text-decoration: underline;
}img {

border: 5px solid #f7f0f9;

border-radius: 10px;
}
img {

border: 5px solid #f2f7f3;

border-radius: 10px;
}
main a[href^="mailto:"] {

color: #ff5722;

font-weight: bold;

}





